Source: lliurex-apt2
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 7),llxsrchelper, zero-dev
Standards-Version: 4.1.2

Package: lliurex-apt2
Depends: nwjs0.21 
Architecture:  all
Description: Editor de /etc/apt/sources.list
 Editor de /etc/apt/sources.list

