Source: lliurex-apt2
Section: admin
Priority: optional
Maintainer: Vicent Fernandez i Capilla <vicent.fernandez@gva.es>
Build-Depends: debhelper (>= 7),llxsrchelper
Standards-Version: 3.9.5

Package: lliurex-apt2
Depends: nwjs0.21 
Architecture:  all
Description: Editor de /etc/apt/sources.list
 Editor de /etc/apt/sources.list

